<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recipe of recipes" [routerLink]="['/recipes', recipe.id]">
      <ion-avatar slot="start">
        <ion-img [src]="recipe.img"></ion-img>
      </ion-avatar>
      <ion-label>
        {{ recipe.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
